<section class="wrapper about-section">
  <div class="container">
    <div class="page-label">/ About Base</div>
    <div class="h2 js-inline-text-effect">
      <span class="title-indent">Base39</span> is a creative ecosystem built to
      connect Base39 is a creative ecosystem built to connect people, ideas, and
      opportunities. It brings together creators, startups, brands, and
      institutions in a shared environment where collaboration is encouraged and
      ideas can evolve into meaningful initiatives.
    </div>

    <div class="about-row">
      <div>
        <div class="about-row__image">
          <img src="https://placehold.co/600x400" alt="" loading="lazy" />
          <img src="/src/img/about-img.jpg" alt="" loading="lazy" />
        </div>
      </div>

      <div class="about-row__more-info">
        <div class="rich-text-bl">
          <p class="js-inline-up-text-effect">
            Through flexible spaces, shared resources, and a community-driven
            approach, Base supports creative professionals at different stages
            of their journey.
          </p>
          <a href="#" class="btn">Learn More About Base</a>
        </div>
      </div>
    </div>
  </div>
</section>
