// Min Width (Mobile First)
$bp-min-sm: 576px;
$bp-min-tablet: 740px;
$bp-min-md: 1054px;
$bp-min-laptop: 1200px;
$bp-min-design: 1440px;
$bp-min-full: 1880px;

// Max Width (Desktop First)
$bp-max-sm: 575px;
$bp-max-mobile: 739px;
$bp-max-tablet: 1053px;
$bp-max-md: 1199px;
$bp-max-laptop: 1439px;
$bp-max-design: 1879px;
